@font-face {
    $font-name: $font-name-bold;
    font-family: $font-family-custom;
    font-weight: $font-weight-bold;
    font-style: normal;
    src: url("#{$font-path}/#{$font-name-bold}.woff") format("woff"),
         url("#{$font-path}/#{$font-name-bold}.woff2") format("woff2");
}

@font-face {
    $font-name: $font-name-regular;
    font-family: $font-family-custom;
    font-weight: $font-weight;
    font-style: normal;
    src: url("#{$font-path}/#{$font-name-regular}.woff") format("woff"),
         url("#{$font-path}/#{font-name-regular}.woff2") format("woff2");
}

@font-face {
    $font-name: $font-name-iceland;
    font-family: $font-family-custom-ice;
    font-weight: $font-weight;
    font-style: normal;
    src: url("#{$font-path}/#{$font-name-iceland}.woff") format("woff"),
         url("#{$font-path}/#{$font-name-iceland}.woff2") format("woff2");
}