/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов
$cinnabar: #e84a4a;
$boulder: #7a7a7a;
$black-russian: #000003;
$screamin-green: #7dff68;
$bombay: #b2b7ba;
$ronchi: #e8bb4a;
$white: #fff;

$color-text: $boulder;
$color-accent: $cinnabar;
$background-color: $black-russian;
$color-number: $screamin-green;
$color-achieved: $ronchi;



/**
* Fonts
*/
$font-family-custom: 'BigShouldersDisplay';
$font-family-default: sans-serif;

$font-path: '../../public/fonts';
$font-name-bold: 'BigShouldersDisplay-Bold';
$font-name-regular: 'BigShouldersDisplay-Regular';
$font-family: $font-family-custom, $font-family-default;

$font-weight: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 18px;
$line-height-base: normal;

$font-size-big: 16px;

$font-size-medium: 14px;

$font-size-small: 12px;

$font-size-tiny: 7px;



/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-medium: '(min-width: 768px)';



/**
* Layout
*/



/**
* Sizes
*/
$container-padding: 30px 80px 50px;


/**
* Transitions and Animations
*/

$transition: .3s;
$transition-animation: ease-in-out;



/**
* Radius
*/



/**
* Box-shadows
*/



/**
* Z-indexes
*/
$z-big: 50;
$z-middle: 30;
$z-small: 10;
$z-min: 1
